/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}


/*********************
HEADER STYLES
*********************/

#header {
    position: fixed;
    padding: 0;
    
    .center-screen {
        width: 300px;
    }
}

.not-on-mobile {
     display: block;
}

.only-on-mobile {
     display: none;   
}

#video-thumbnails {
    
    background: black;
    
    ul {
        
        li {
            
            padding: 0;
            
            .video-overlay {
                @include transition(all 0.3s ease-in-out);
                
                position: absolute;
                width: 100%;
                height: 100%;
                
                background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.96) 15%, rgba(0,0,0,0.7) 100%); /* FF3.6+ */
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(15%,rgba(0,0,0,0.96)), color-stop(100%,rgba(0,0,0,0.7))); /* Chrome,Safari4+ */
                background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.96) 15%,rgba(0,0,0,0.7) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.96) 15%,rgba(0,0,0,0.7) 100%); /* Opera 12+ */
                background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.96) 15%,rgba(0,0,0,0.7) 100%); /* IE10+ */
                background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.96) 15%,rgba(0,0,0,0.7) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b3000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

                opacity:0;
                
                color: white;
                
                pointer-events: none;
                
                .vo-text {
                    text-align: center;
                    margin: auto;
                    position: relative;
                    top: calc(50% - 44px);
                }
            }
            
            &:hover {
                .video-overlay {
                    opacity: 0.85;
                } 
            }
        }
    }
}

