/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	font-family: $lato;
	font-size: 150%;
	line-height: 1.5;
	color: $text-color;
	background: black;
    -webkit-font-smoothing: antialiased;
}

* ul li {
    list-style: none;
}

.not-on-mobile {
     display: none;   
}

.reverse-vignette {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 6%, rgba(0,0,0,0) 98%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(6%,rgba(0,0,0,1)), color-stop(98%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 6%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 6%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 6%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 6%,rgba(0,0,0,0) 98%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.black-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../img/background-small.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
    cursor: pointer;
    text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
        text-decoration:none;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.row {
    margin: 0;
    margin-left: 0;
    max-width: 100vw;
}

.img-full-width {
    width: 100%;   
}

#wrapper {
    margin: 0;
    padding: 0;
}

#header {
    color: white;
    padding: 0;
    
    height: 100vh;
    text-align: center;
    
    background: black;
    background-size: cover;
    
    border-right: 1px solid white;

    background: #4b4e54; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #4b4e54 0%, #4b4e54 40%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#4b4e54), color-stop(40%,#4b4e54), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #4b4e54 0%,#4b4e54 40%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #4b4e54 0%,#4b4e54 40%,#000000 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #4b4e54 0%,#4b4e54 40%,#000000 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #4b4e54 0%,#4b4e54 40%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b4e54', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    
    h1{
        font-size: 60px;
        font-family: BenchNine;
        margin-bottom: 0px;
    }
    
    .center-screen {
        padding-top: calc(50vh - 200px);
        width: 300px;
        position: relative;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    #header {
         border-right: 0px; 
    }
}

#video-thumbnails {
    padding: 0;
    background: white;
    
    ul {
        padding: 0;
        margin: 0;
        
        li {
            padding: 0;
            padding-top: 2px;
            
            .video-overlay {
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 50%;
                
                background: -moz-linear-gradient(top, rgba(125,126,125,0) 0%, rgba(14,14,14,0.54) 35%, rgba(14,14,14,1) 65%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,0)), color-stop(35%,rgba(14,14,14,0.54)), color-stop(65%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
                
                opacity:0.9;
                
                color: white;
                
                pointer-events: none;
                
                .vo-text {
                    text-align: center;
                    margin: auto;
                    width: 100%;
                    position: absolute;
                    bottom: 0px;
                }
            }
        }
    }
}

.popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
}

.mfp-close-btn-in .mfp-close {
    display: none;
}


/******************************************************************
EMAIL FORM STUFFS
******************************************************************/

#emailpopup {
    
    max-width: 500px;
    margin: auto;
    
    iframe {
        width: 500px;
        border: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }
}

 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #mailpopup {
        max-width: 350px;   
    }
}



/******************************************************************
SOCIAL ICONS
******************************************************************/

@font-face {
    font-family: 'si';
    src: url('../img/socicon.eot');
    src: url('../img/socicon.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon.woff') format('woff'),
         url('../img/socicon.ttf') format('truetype'),
         url('../img/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url('../img/socicon.svg') format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    border: 1px solid;
    background-color: none;
}

.soc a:hover {
    z-index: 2;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    border-color: #4da7de;
    color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}

.soc-vimeo {
    border-color: #51b5e7;
    color: #51b5e7;
}
.soc-vimeo:before {
    content:'s';
}
.soc-soundcloud {
    border-color: #fe3801;
    color: #fe3801;
}
.soc-soundcloud:before {
    content:'n';
}

.soc-twitter:hover {
    border-color: #61bbf2;
    color: #61bbf2;
}
.soc-vimeo:hover {
    border-color: #65c9fb;
    color: #65c9fb;
}
.soc-soundcloud:hover {
    border-color: #ff4c15;
    color: #ff4c15;
}

.soc-tumblr {
    border-color: #45556c;
    color: #45556c;
}
.soc-tumblr:before {
    content:'z';
}

.soc-tumblr:hover {
    border-color: #7898c6;
    color: #7898c6;
}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {}
